{% extends 'base.html' %}
{% load static %}

{% block styles %}
<!-- reset.css : meyerweb -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
<!-- font : pretendard -->
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

<link rel="stylesheet" href="{% static 'css/global.css' %}" />

<!-- layout -->
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

<!-- component -->
<link rel="stylesheet" href="{% static 'css/button.css' %}" />
<link rel="stylesheet" href="{% static 'css/banner.css' %}" />
<link rel="stylesheet" href="{% static 'css/category.css' %}" />
<link rel="stylesheet" href="{% static 'css/author.css' %}" />

<link rel="stylesheet" href="{% static 'css/wrapbox.css' %}" />
<link rel="stylesheet" href="{% static 'css/view.css' %}" />

{% endblock %}

{% block content %}
<!-- banner -->
<div class="banner" style="background-image: url(./images/post-background6.jpg)">
	<div class="max-width">
		<div class="banner-contents">
			<p class="sub-text">React Blog</p>
			<p class="main-text">Travel BLOG</p>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- post view -->
<div class="view">
	<div class="max-width">
		<section class="wrap-box">
			<div class="inner">
				<!-- author -->
				<dl class="author-wrap">
					<dt class="a11y-hidden">Author</dt>
					<dd class="author">
						{% if post_writer.profile_image %}
							<img src="/blog/media/{{ post_writer.profile_image}}" alt="" />
						{% else %}
							<img src="/static/assets/free-icon-person.png" alt="" />
						{% endif %}
						{{post_writer}}
					</dd>
					<dt class="a11y-hidden">Created</dt>
					<dd class="created">{{post_created_at}}</dd>
				</dl>
				<!-- //author -->

				<!-- category -->
				<dl class="category">
					<dt class="a11y-hidden">Category</dt>
					{% for category in post_categories %}
						<dd>{{category}}</dd>
					{% endfor %}
				</dl>
				<!-- //category -->
				<div class="title-wrap">
					<h2>{{ post_title }}</h2>
					{% comment %} <button class="btn-like">Like</button> {% endcomment %}
				</div>
				<hr />
				<div class="view-contents">
					<div class="viewer">
					</div>
				</div>
				{% if user.id == post_writer.id %}
				<div class="btn-group">
					<a href="{% url 'blog:edit' pk=post_id %}" class="btn-modify">
						<span class="a11y-hidden">modify</span>
					</a>
					<form action="{% url 'blog:delete' pk=post_id %}" method="post">
						{% csrf_token %}
						<button type="submit" class="btn-delete">
							<span class="a11y-hidden">delete</span>
						</button>
					</form>
				</div>
				{% endif %}
				<a href="/blog" class="btn-back">
					<span class="a11y-hidden">Back</span>
				</a>
			</div>
		</section>
	</div>
</div>
<!-- //post view  -->
{% endblock %}

{% block script %}
<!-- TOAST UI Editor CDN URL(JS) -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
<script>
	const viewer = new toastui.Editor({
		el: document.querySelector('.viewer'),
		viewer: true,
		initialValue: '{{ post_content|escapejs }}'
	});
</script>
{% endblock %}