{% extends 'base.html' %}
{% load static %}

{% block styles %}
	<!-- reset.css : meyerweb -->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
	<!-- font : pretendard -->
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

	<link rel="stylesheet" href="{% static 'css/global.css' %}" />

	<!-- layout -->
	<link rel="stylesheet" href="{% static 'css/header.css' %}" />
	<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

	<!-- component -->
	<link rel="stylesheet" href="{% static 'css/button.css' %}" />
	<link rel="stylesheet" href="{% static 'css/banner.css' %}" />
	<link rel="stylesheet" href="{% static 'css/category.css' %}" />
	<link rel="stylesheet" href="{% static 'css/author.css' %}" />

	<link rel="stylesheet" href="{% static 'css/wrapbox.css' %}" />
	<link rel="stylesheet" href="{% static 'css/view.css' %}" />
{% endblock %}

{% block content %}
<!-- banner -->
<div class="banner" style="background-image: url(./images/post-background6.jpg)">
	<div class="max-width">
		<div class="banner-contents">
			<p class="sub-text">React Blog</p>
			<p class="main-text">Travel BLOG</p>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- post view -->
<div class="view">
	<div class="max-width">
		<section class="wrap-box">
			<div class="inner">
				<!-- author -->
				<dl class="author-wrap">
					<dt class="a11y-hidden">Author</dt>
					<dd class="author"><img src="./images/profile.jpg" alt="" /> Chilli</dd>
					<dt class="a11y-hidden">Created</dt>
					<dd class="created">{{post_created_at}}</dd>
				</dl>
				<!-- //author -->

				<!-- category -->
				<dl class="category">
					<dt class="a11y-hidden">Category</dt>
					{% for category in post_categories %}
						<dd>{{category}}</dd>
					{% endfor %}
				</dl>
				<!-- //category -->
				<div class="title-wrap">
					<h2>{{ post_title }}</h2>
					<button class="btn-like">Like</button>
				</div>
				<hr />
				<div class="view-contents">
					<p>
						{{ post_content }}
					</p>
				</div>
				<div class="btn-group">
					<a href="#" class="btn-modify">
						<span class="a11y-hidden">modify</span>
					</a>
					<button type="button" class="btn-delete">
						<span class="a11y-hidden">delete</span>
					</button>
				</div>
				<a href="./" class="btn-back">
					<span class="a11y-hidden">Back</span>
				</a>
			</div>
		</section>
	</div>
</div>
<!-- //post view  -->
{% endblock %}